# =============================================================================
# IBM WatsonX Configuration or OPENAI
# =============================================================================
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_APIKEY=your-watsonx-api-key
WATSONX_PROJECT_ID=your-watsonx-project-id
OPENAI_API_KEY=xxxxxx
# =============================================================================
# LLM Model openai:gpt-4.1 or ibm:openai/gpt-oss-120b
# =============================================================================
MODEL=ibm:openai/gpt-oss-120b
# =============================================================================
# Vector Database (ChromaDB)
# =============================================================================
VDB_DIR=store
COLLECTION_NAME=MOONLIFE

# =============================================================================
# MCP Servers (direct connection  without Context Forge)
# =============================================================================
# Underwriting MCP Server
MCP_HOST1=http://localhost
MCP_PORT1=8007
MCP_TRANSPORT1=mcp

# CRM MCP Server
MCP_HOST2=http://localhost
MCP_PORT2=8008
MCP_TRANSPORT2=mcp

# Health MCP Server
MCP_HOST3=http://localhost
MCP_PORT3=8009
MCP_TRANSPORT3=mcp

# =============================================================================
# Backend Authentication (optional)
# =============================================================================
BACKEND_AUTH=false
BACKEND_USER=user
BACKEND_PASSWORD=password
BACKEND_URL=http://localhost:8002
# =============================================================================
# Observability  LangFuse (optional)
# =============================================================================
LANGFUSE_SECRET_KEY=sk-xxxxxx
LANGFUSE_PUBLIC_KEY=pk-xxxxxxx
LANGFUSE_BASE_URL=http://localhost:3000

# =============================================================================
# Context Forge
# =============================================================================

CONTEXT_FORGE_ADMIN_USERNAME=admin@example.com
CONTEXT_FORGE_ADMIN_PASSWORD=changeme
CONTEXT_FORGE_BASE_URL=http://localhost:4444
CONTEXT_FORGE_MCP_TRANSPORT=mcp

# Virtual MCP server for Insurance Brokers team
BROKER_CONTEXT_FORGE_VSERVER=xxxxxx
# Token for Insurance Brokers team
BROKER_CONTEXT_FORGE_TOKEN=xxxxxxxxx

# Virtual MCP server for Insurance Analysts team
ANALYST_CONTEXT_FORGE_VSERVER=xxxxxx
# Token for Insurance Analysts team
ANALYST_CONTEXT_FORGE_TOKEN=xxxxxxxxx
